# FIXME: Configure environment variables for your project

# Next.js
NEXT_TELEMETRY_DISABLED=1

NEXT_PUBLIC_SENTRY_DISABLED=false
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_ORG=
NEXT_PUBLIC_SENTRY_PROJECT=


######## [BEGIN] SENSITIVE DATA ######## For security reason, don't update the following variables (secret key) directly in this file.
######## Please create a new file named `.env.local`, all environment files ending with `.local` won't be tracked by Git.
######## After creating the file, you can add the following variables.
# Refer to https://nextjs.org/docs/app/guides/data-security#overwriting-encryption-keys-advanced
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY='This variable must be AES-GCM encrypted'
######## [END] SENSITIVE DATA
